<h1>Profile List</h1>
<p>Showing all profiles..</p>

<button (click)="addProfile()">Add New Profile</button>

<p *ngIf="!profiles"><em>{{ loadingMessage }}</em></p>

<table class='table' *ngIf="profiles">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profile of profiles">     <!-- Foreach loop -->
            <td>{{ profile.id }}</td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.dob }}</td>
            <td>
                <button type="button" class="btn btn-info"      (click)="viewProfile(profile.id)">      View    </button>
                <button type="button" class="btn btn-warning"   (click)="editProfile(profile.id)">      Edit    </button>
                <button type="button" class="btn btn-danger"    (click)="deleteProfile(profile.id)">    Delete  </button>
            </td>
        </tr>
    </tbody>
</table>
